<!DOCTYPE html>
<div class="box">
  <div class="box-header with-border">
    <h1 class="box-title"><b>Add new income</b></h1>
  </div>
  <div class="box-body">
    <form class="" method="post" ng-submit="saveIncome()">
      Day:&nbsp;

      <select ng-options="day as day.label for day in days" ng-model="selected"></select>

      <input type="number" step="1" name="name" value="" ng-model="inputValue" required=""> $
      <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus">&nbsp;</i>Save</button>
    </form>

  </div>
</div>
